@font-face {
    font-family: "meta";
    src: url("./images/meta.TTF") format("truetype");
  }
  
  @font-face {
    font-family: "metabold";
    src: url("./images/metabold.TTF") format("truetype");
  }

$font-family-meta: meta;
$font-family-meta-bold: metabold;

$gold-accent-color: rgb(255, 208, 0);
$blue-light-color: hsla(225,68%,76%, 1);
$blue-middle-color: hsla(226,23%,43%, 1);
$blue-dark-color: hsla(234,36%,11%, 1);
$white-color: whitesmoke;
$black-color: #202020;

body {
    margin: 0;
    padding: 0;
    background-size: contain;
    background-position: 0;
    background: $blue-dark-color;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: $font-family-meta;
    color: $white-color;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 1rem;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 $gold-accent-color;
    }
    70% {
        box-shadow: 0 0 0 15px $blue-middle-color;
    }
    100% {
        box-shadow: 0 0 0 0 $blue-middle-color;
    }
}